.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #183c6c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  height: 80px;
  margin-left: 0px;
  padding-left: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 40px;
}

.logo img {
  height: 75px;
  width: auto;
  object-fit: contain;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .logo img {
      height: 50px;
  }
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-weight: 1500;
  margin-left: 0px;
  padding-left: 10px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  font-size: 23px;
  transition: color 0.3s ease-in-out;
  color: whitesmoke;
  font-weight: 750;
}

.nav-links li a:hover {
  color: #93c5fd;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.profile-icon {
  font-size: 2.5rem;
  color: #f2f5f9;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.profile-icon:hover {
  color: #93c5fd;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: #254774;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hamburger {
      display: block;
  }

  .nav-links {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #254774;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;
      align-items: center;
      display: none;
      gap: 20px;
  }

  .nav-links.active {
      display: flex;
  }
}
